.App {
  text-align: center;
}
.container {
  max-width: 630px;
}

.form-group {
  padding: 10px 0;
}
.signUpActionWrap,
.showPasswordWrapper {
  margin-top: 20px;
}
.showPasswordWrapper input {
  width: 24px;
  height: 16px;
}
.signUpActionWrap .btn-primary {
  margin-right: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
