.imageContainer {
  max-width: 730px;
  list-style-type: none;
}
.drugImageWrapper {
  height: 85px;
  width: 330px;
  margin-bottom: 20px;
}
.imagePharmacy {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}
.headingWrapper {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: bold;
  color: rgb(43, 43, 43);
}
