/* container */
.drugContainer {
  max-width: 1000px;
  background-color: #ccc;
}

/* ul */
.drugListWrapper {
  list-style-type: none;
}
.drugListWrapper li {
  margin-bottom: 20px;
}

.drugItem {
  background-color: skyblue;
  padding: 12px 24px;
  border-radius: 10px;
}

/* image  */

.imageWraper {
  margin-right: 15px;
}
.imageWraper img {
  height: 58px;
  width: 77px;
}

.drugName {
  color: #2b2b2b;
  font-size: 20px;
  font-weight: bold;
}

.details {
  font-size: 18px;
  color: #737373;
}

.priceWraper {
  color: green;
  font-size: 26px;
}
.blueColor {
  color: blue;
}
.redColor {
  color: red;
}
